---
permalink: _headers
---
/*
  X-Frame-Options: DENY
  X-Content-Type-Options: nosniff
  Referrer-Policy: strict-origin-when-cross-origin
  Permissions-Policy: interest-cohort=(), browsing-topics=()
  Content-Security-Policy: frame-ancestors 'self'; form-action https://forms.hubspot.com https://forms.hsforms.com https://app.hubspot.com https://meetings.hubspot.com 'self'